:root {
    // font-family: monospace;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
}

body {
    margin:0;
    padding:0;
    overflow:hidden;
}

#text-metric{
    display:block;
    opacity:0;
    width:min-content;
}

#map{
    width:inherit;
    height:inherit;
    background: none;
}

svg{
    background-color: rgba(60, 124, 0, 0.25);
}

.svg-layer{
    // border:4px red solid;
}

#container{
    width:100vw;
    height:100vh;
    // display:flex;
}

#map-output{
    margin-left:8px;
    font-size: 0.75em;
    line-height: 1.5em;
}

.ol-layer{
    // opacity:0.6;
    
}